body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

/* #, #main, #footer {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100%; 
} */

#header {
  position: fixed;
  top: 0; 
  left: 0; 
  height: 35px; 
  width: 100%; 
  padding-top: 50px; 
}

#main {
  align-items: center;
  width: 100%; 
  overflow: auto; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100%; 
}

#footer {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: 35px; 
  padding-bottom:50px; 
}


.hidden {
  display: none;
}

.visible {
  display: block;
}

.button {
  padding: 10px 20px;
  margin: 10px 0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #c12b20;
}

#img-outside {
  width: 200px;
  height: auto;
  cursor: pointer;
}

#img-shop {
  height: 500px;
  width: auto;
}

#img-machine {
  height: 500px;
  width: auto;
}

#img-staff {
  height: 300px;
  width: auto;
}

#container-shop {
  height: 500px;
  width: 500px;
}

#container-machine {
  height: 500px;
  width: 500px;
}

#container-select {
  height: 500px;
  width: 500px;
  padding-top: 100px;
}

#container-order {
  height: 500px;
  width: 500px;
  text-align: center;
  padding-top: 150px;
}

#container-cooking {
  height: 500px;
  width: 500px;
  text-align: center;
  padding-top: 150px;
}

#container-serve {
  height: 500px;
  width: 500px;
  text-align: center;
}

#serveRamen {
  display: none;
}

.container{
  justify-content: center;
  align-items: center;
}

.go-home {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.img-menu-s {
  height:20px;
}

.img-menu-m {
  height:30px;
}

.img-menu-l {
  height:40px;
}

.img-menu-2l {
  height:50px;
}

.text-centering {
  text-align: center;
}

.yugiri {
  width:500px;
  text-align: center;
}

.menu-container {
  display: flex;
}

.menu-left {
  text-align: right;
  width:250px;
  margin-right:20px;
}

.menu-right {
  text-align: left;
  width:250px;
}