body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #, #main, #footer {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100%; 
} */

#header {
  position: fixed;
  top: 0; 
  left: 0; 
  height: 35px; 
  width: 100%; 
  padding-top: 50px; 
}

#main {
  align-items: center;
  width: 100%; 
  overflow: auto; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100%; 
}

#footer {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: 35px; 
  padding-bottom:50px; 
}


.hidden {
  display: none;
}

.visible {
  display: block;
}

.button {
  padding: 10px 20px;
  margin: 10px 0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

#img-outside {
  width: 200px;
  height: auto;
  cursor: pointer;
}

#img-shop {
  height: 500px;
  width: auto;
}

#img-machine {
  height: 500px;
  width: auto;
}

#img-staff {
  height: 500px;
  width: auto;
}

#container-shop {
  height: 500px;
  width: 500px;
}

#container-machine {
  height: 500px;
  width: 500px;
}

#container-select {
  height: 500px;
  width: 500px;
}

#container-order {
  height: 500px;
  width: 500px;
}

#container-cooking {
  height: 500px;
  width: 500px;
}

#container-serve {
  height: 500px;
  width: 500px;
}

.container{
  justify-content: center;
  align-items: center;
}

.go-home {
  height: 100%; /* 画面いっぱいに広がる */
  margin: 0; /* 外側の余白をゼロに設定 */
  display: flex; /* Flexbox を使用して中央揃え */
  justify-content: center; /* 左右中央に揃える */
  align-items: center; /* 上下中央に揃える */
  font-size: 24px; /* テキストのフォントサイズ */
  text-align: center; /* テキストを中央揃え */
}

